[submodule "Firmware/REGI-BootLoader/lib/pico-vfs"]
	path = Firmware/REGI-BootLoader/lib/pico-vfs
	url = https://github.com/oyama/pico-vfs.git
[submodule "Firmware/REGI-CPP-Debugable/lib/pico-vfs"]
	path = Firmware/REGI-CPP-Debugable/lib/pico-vfs
	url = https://github.com/oyama/pico-vfs.git
[submodule "Firmware/REGI-CPP-Debugable/lib/pi-pico-tone"]
	path = Firmware/REGI-CPP-Debugable/lib/pi-pico-tone
	url = https://github.com/martinkooij/pi-pico-tone.git
[submodule "Firmware/REGI-CPP-Debugable/lib/pico-vfs-abi"]
	path = Firmware/REGI-CPP-Debugable/lib/pico-vfs-abi
	url = https://github.com/abinash18/pico-vfs.git
